# Site settings
title: Artemis
email:
author:
description:
  url: https://artemis.activemq.org

# Build settings
permalink: none
# permalink: :title/
sass:
  sass_dir: css/

collections:
  artemis_releases:
    permalink: /components/artemis/download/:name
  artemis_console_releases:
    permalink: /components/artemis-console/download/:name
  news:
    output: true
    permalink: /news/:name

#  The Current Releases config moved to src/_data/current_releases.yml
#  so 'jekyll serve' picks up edits to it and generates the expected
#  updates (whereas changes to _config.yml are deliberately ignored).

defaults:
  - scope:
      path: ""
      type: "news"
    values:
      layout: "news"
      title-class: page-title-artemis
      type: main

markdown: kramdown
highlighter: rouge
#permalink: /news/:year/:month/:day/:title/
excerpt_separator: ""
source: src
exclude: [ BUILD.md, Gemfile* ]
keep_files: [ .git ]
exclude: [ vendor ]
baseurl:

plugins:
  - jekyll-redirect-from
