RewriteEngine On
RewriteCond %{HTTPS} !=on [NC]
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
RewriteRule ^artemis/docs/(.*) https://artemis.apache.org/components/artemis/documentation/$1 [R=301,L]
RewriteRule ^artemis.*$ https://artemis.apache.org/components/artemis/ [R=301,L]
