RewriteEngine On
RewriteCond %{HTTPS} !=on [NC]
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
RewriteRule ^components/artemis/documentation/2.32.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.32.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.33.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.33.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.34.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.34.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.35.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.35.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.36.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.36.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.37.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.37.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.38.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.38.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.39.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.39.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.40.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.40.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.41.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.41.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.42.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.42.0/$1 [R=301,L]
RewriteRule ^components/artemis/documentation/2.43.0/(.*) https://artemis.apache.org/components/artemis/documentation/previous/2.43.0/$1 [R=301,L]
