RewriteEngine On

RewriteBase /components/artemis-console/newdocs/

# 1. Force the trailing slash for the "bare" URL so paths don't break
RewriteRule ^latest$ latest/ [R=301,L]

# 2. Internal rewrite for everything else
RewriteRule ^latest/(.*)$ 1.5.0/$1 [L]
